<section class="px-8 py-10 bg-white">
  <div class="max-w-[1290px] mx-auto grid grid-cols-1 lg:grid-cols-[200px_420px_1fr] gap-5">

    <!-- LEFT -->
    <div class="h-[555px]">
      <img
        src="assets/images/alarmtechnik_banner_4k (1).avif"
        class="w-full h-full object-cover block"
        alt="Alarmtechnik"
      />
    </div>

    <!-- MIDDLE -->
    <div class="h-[555px]">
      <img
        src="assets/images/surveillance_banner_4k.avif"
        class="w-full h-full object-cover block"
        alt="Überwachungskamera"
      />
    </div>

    <!-- RIGHT -->
    <div class="flex flex-col gap-5 h-[555px]">
      <img
        src="assets/images/resized_image.png"
        class="w-full h-[171px] object-contain bg-[#f4efe7] block"
        alt="Aufzeichnungsgeräte"
      />
      <!-- <img
        src="assets/images/aufzeichnungsgeraete_banner_4k.avif"
        class="w-full h-[171px] object-contain bg-[#f4efe7] block"
        alt="Aufzeichnungsgeräte"
      /> -->

      <img
        src="assets/images/resized_910x250.png"
        class="w-full h-[171px] object-contain bg-[#f4efe7] block"
        alt="Zutrittskontrollsystem"
      />

      <img
        src="assets/images/resized_910x250 (1).png"
        class="w-full h-[171px] object-contain bg-[#f4efe7] block"
        alt="Service"
      />
    </div>

  </div>
</section>