<section class="px-8 py-10 bg-white">
  <div class="max-w-[1290px] mx-auto grid grid-cols-1 lg:grid-cols-[200px_420px_1fr] gap-5">

    <!-- LEFT -->
    <div>
      <img
        src="assets/images/alarmtechnik_banner_4k (1).avif"
        class="w-full h-full object-cover block"
        alt="Mega Sale"
      />
    </div>

    <!-- MIDDLE -->
    <div>
      <img
        src="assets/images/surveillance_banner_4k.avif"
        class="w-full h-full object-cover block"
        alt="Sofa"
      />
      <!-- <img
        src="assets/images/shop49-banner-2.jpg"
        class="w-full h-full object-cover block"
        alt="Sofa"
      /> -->
    </div>

    <!-- RIGHT -->
    <div class="flex flex-col gap-5">
      <img
        src="assets/images/aufzeichnungsgeraete_banner_4k.avif"
        class="w-full h-[176px] object-cover block"
        alt="Decor Fresh Ideas"
      />

      <img
        src="assets/images/zutrittskontrollsystem_banner_4k.avif"
        class="w-full h-[176px] object-cover block"
        alt="Clean Design"
      />

      <img
        src="assets/images/service_banner_4k.avif"
        class="w-full h-[176px] object-cover block"
        alt="Lighting"
      />
    </div>

  </div>
</section>