<section class="px-8 py-16 bg-white">
  <div class="max-w-[1200px] mx-auto">
    <!-- Header -->
    <div class="flex items-center gap-8 mb-8">
      <h2 class="text-2xl font-semibold">Best Sellers</h2>

      <div class="h-6 w-px bg-gray-300"></div>

      <div class="flex gap-8 text-gray-500 text-sm font-medium">
        <a href="#" class="text-black">Show All</a>
        <a href="#">Haircare</a>
        <a href="#">Makeup</a>
        <a href="#">Skincare</a>
      </div>
    </div>

    <!-- Product Grid -->
    <div class="grid grid-cols-4 gap-5">

      <!-- Product 1 -->
      <div class="block">
        <div class="group bg-[#ffffff] border border-gray-100 text-center relative overflow-hidden">
          <div class="relative h-[300px] flex items-center justify-center">
            <img src="assets/images/f5d-pv-seite-wifi-puzzel_06c0mfdaupjslv7w.png" class="h-[210px] object-contain"
              alt="Hourglass Ambient Lighting Bronzer" />

            <div class="absolute top-5 right-5 flex flex-col gap-3 opacity-0 group-hover:opacity-100 transition">
              <button type="button"
                class="w-10 h-10 rounded-full bg-[#ead8c7] text-2xl hover:bg-black hover:text-white">
                ♡
              </button>
              <button type="button"
                class="w-10 h-10 rounded-full bg-[#ead8c7] text-2xl hover:bg-black hover:text-white">
                ⌕
              </button>
            </div>

            <button type="button"
              class="add-to-cart absolute bottom-0 left-5 right-5 bg-black text-white py-4 text-sm font-bold tracking-[0.25em] opacity-0 group-hover:opacity-100 transition hover:bg-black hover:text-white"
              data-id="1"
              data-name="Hourglass Ambient Lighting Bronzer"
              data-price="12.00"
              data-image="assets/images/f5d-pv-seite-wifi-puzzel_06c0mfdaupjslv7w.png">
              ADD TO CART
            </button>
          </div>

          <a href="product.html?id=1" class="block">
            <div class="bg-[#EFF5FA] pb-7 px-4">
              <p class="text-[10px] text-gray-400 uppercase mb-1">MAKEUP</p>
              <h3 class="text-sm font-medium truncate mb-2">
                Hourglass Ambient Lighting Bronzer
              </h3>
              <p class="text-gray-400 text-sm mb-1">★★★★☆</p>
              <p class="text-lg font-bold">$12.00</p>
            </div>
          </a>
        </div>
      </div>

      <!-- Product 2 -->
      <div class="block">
        <div class="group bg-[#ffffff] border border-gray-100 text-center relative overflow-hidden">
          <div class="relative h-[300px] flex items-center justify-center">
            <img src="assets/images/ipc-k1430k-stw-wifi-puzzel_tl67ndcwcvazb7ff.png" class="h-[210px] object-contain"
              alt="Hourglass Veil Hydrating Skin Tint" />

            <div class="absolute top-5 right-5 flex flex-col gap-3 opacity-0 group-hover:opacity-100 transition">
              <button type="button"
                class="w-10 h-10 rounded-full bg-[#ead8c7] text-2xl hover:bg-black hover:text-white">
                ♡
              </button>
              <button type="button"
                class="w-10 h-10 rounded-full bg-[#ead8c7] text-2xl hover:bg-black hover:text-white">
                ⌕
              </button>
            </div>

            <button type="button"
              class="add-to-cart absolute bottom-0 left-5 right-5 bg-black text-white py-4 text-sm font-bold tracking-[0.25em] opacity-0 group-hover:opacity-100 transition hover:bg-black hover:text-white"
              data-id="2"
              data-name="Hourglass Veil Hydrating Skin Tint"
              data-price="35.00"
              data-image="assets/images/ipc-k1430k-stw-wifi-puzzel_tl67ndcwcvazb7ff.png">
              ADD TO CART
            </button>
          </div>

          <a href="product.html?id=2" class="block">
            <div class="bg-[#EFF5FA] pb-7 px-4">
              <p class="text-[10px] text-gray-400 uppercase mb-1">MAKEUP</p>
              <h3 class="text-sm font-medium truncate mb-2">
                Hourglass Veil Hydrating Skin Tint
              </h3>
              <p class="text-gray-400 text-sm mb-1">★★★★☆</p>
              <p class="text-lg font-bold">$35.00</p>
            </div>
          </a>
        </div>
      </div>

      <!-- Product 3 -->
      <div class="block">
        <div class="group bg-[#ffffff] border border-gray-100 text-center relative overflow-hidden">
          <div class="relative h-[300px] flex items-center justify-center">
            <img src="assets/images/f5d-pv-seite-wifi-puzzel_06c0mfdaupjslv7w.png" class="h-[210px] object-contain"
              alt="Yves Saint Laurent Touche Eclat" />

            <div
              class="bg-[#EFF4F9] absolute top-5 right-5 flex flex-col gap-3 opacity-0 group-hover:opacity-100 transition">
              <button type="button"
                class="w-10 h-10 rounded-full bg-[#ead8c7] text-2xl hover:bg-black hover:text-white">
                ♡
              </button>
              <button type="button"
                class="w-10 h-10 rounded-full bg-[#ead8c7] text-2xl hover:bg-black hover:text-white">
                ⌕
              </button>
            </div>

            <button type="button"
              class="add-to-cart absolute bottom-0 left-5 right-5 bg-black text-white py-4 text-sm font-bold tracking-[0.25em] opacity-0 group-hover:opacity-100 transition hover:bg-black hover:text-white"
              data-id="3"
              data-name="Yves Saint Laurent Touche Eclat"
              data-price="23.00"
              data-image="assets/images/f5d-pv-seite-wifi-puzzel_06c0mfdaupjslv7w.png">
              ADD TO CART
            </button>
          </div>

          <a href="product.html?id=3" class="block">
            <div class="bg-[#EFF5FA] pb-7 px-4">
              <p class="text-[10px] text-gray-400 uppercase mb-1">MAKEUP</p>
              <h3 class="text-sm font-medium truncate mb-2">
                Yves Saint Laurent Touche Eclat
              </h3>
              <p class="text-gray-400 text-sm mb-1">★★★★☆</p>
              <p class="text-lg font-bold">$23.00</p>
            </div>
          </a>
        </div>
      </div>

      <!-- Product 4 -->
      <div class="block">
        <div class="group bg-[#ffffff] border border-gray-100 text-center relative overflow-hidden">
          <div class="relative h-[300px] flex items-center justify-center">
            <img src="assets/images/ipc-k1430k-stw-wifi-puzzel_tl67ndcwcvazb7ff.png" class="h-[210px] object-contain"
              alt="Clarins Lip Comfort Oil" />

            <div class="absolute top-5 right-5 flex flex-col gap-3 opacity-0 group-hover:opacity-100 transition">
              <button type="button"
                class="w-10 h-10 rounded-full bg-[#ead8c7] text-2xl hover:bg-black hover:text-white">
                ♡
              </button>
              <button type="button"
                class="w-10 h-10 rounded-full bg-[#ead8c7] text-2xl hover:bg-black hover:text-white">
                ⌕
              </button>
            </div>

            <button type="button"
              class="add-to-cart absolute bottom-0 left-5 right-5 bg-black text-white py-4 text-sm font-bold tracking-[0.25em] opacity-0 group-hover:opacity-100 transition hover:bg-black hover:text-white"
              data-id="4"
              data-name="Clarins Lip Comfort Oil"
              data-price="20.00"
              data-image="assets/images/ipc-k1430k-stw-wifi-puzzel_tl67ndcwcvazb7ff.png">
              ADD TO CART
            </button>
          </div>

          <a href="product.html?id=4" class="block">
            <div class="bg-[#EFF5FA] pb-7 px-4">
              <p class="text-[10px] text-gray-400 uppercase mb-1">ACCESSORIES</p>
              <h3 class="text-sm font-medium truncate mb-2">
                Clarins Lip Comfort Oil
              </h3>
              <p class="text-gray-400 text-sm mb-1">★★★★☆</p>
              <p class="text-lg font-bold">$20.00</p>
            </div>
          </a>
        </div>
      </div>

      <!-- Product 5 -->
      <div class="block">
        <div class="group bg-[#ffffff] border border-gray-100 text-center relative overflow-hidden">
          <div class="relative h-[300px] flex items-center justify-center">
            <img src="assets/images/f5d-pv-seite-wifi-puzzel_06c0mfdaupjslv7w.png" class="h-[210px] object-contain"
              alt="Clarins Natural Lip Perfector" />

            <div class="absolute top-5 right-5 flex flex-col gap-3 opacity-0 group-hover:opacity-100 transition">
              <button type="button"
                class="w-10 h-10 rounded-full bg-[#ead8c7] text-2xl hover:bg-black hover:text-white">
                ♡
              </button>
              <button type="button"
                class="w-10 h-10 rounded-full bg-[#ead8c7] text-2xl hover:bg-black hover:text-white">
                ⌕
              </button>
            </div>

            <button type="button"
              class="add-to-cart absolute bottom-0 left-5 right-5 bg-black text-white py-4 text-sm font-bold tracking-[0.25em] opacity-0 group-hover:opacity-100 transition hover:bg-black hover:text-white"
              data-id="5"
              data-name="Clarins Natural Lip Perfector 12ml"
              data-price="16.00"
              data-image="assets/images/f5d-pv-seite-wifi-puzzel_06c0mfdaupjslv7w.png">
              ADD TO CART
            </button>
          </div>

          <a href="product.html?id=5" class="block">
            <div class="bg-[#EFF5FA] pb-7 px-4">
              <p class="text-[10px] text-gray-400 uppercase mb-1">MAKEUP</p>
              <h3 class="text-sm font-medium truncate mb-2">
                Clarins Natural Lip Perfector 12ml
              </h3>
              <p class="text-gray-400 text-sm mb-1">★★★★☆</p>
              <p class="text-lg font-bold">$16.00</p>
            </div>
          </a>
        </div>
      </div>

      <!-- Product 6 -->
      <div class="block">
        <div class="group bg-[#ffffff] border border-gray-100 text-center relative overflow-hidden">
          <span class="absolute top-5 left-5 bg-green-500 text-white text-xs font-bold px-3 py-1 z-10">HOT</span>

          <div class="relative h-[300px] flex items-center justify-center">
            <img src="assets/images/f5d-pv-seite-wifi-puzzel_06c0mfdaupjslv7w.png" class="h-[210px] object-contain"
              alt="Dermalogica Intensive Moisture Balance" />

            <div class="absolute top-5 right-5 flex flex-col gap-3 opacity-0 group-hover:opacity-100 transition">
              <button type="button"
                class="w-10 h-10 rounded-full bg-[#ead8c7] text-2xl hover:bg-black hover:text-white">
                ♡
              </button>
              <button type="button"
                class="w-10 h-10 rounded-full bg-[#ead8c7] text-2xl hover:bg-black hover:text-white">
                ⌕
              </button>
            </div>

            <button type="button"
              class="add-to-cart absolute bottom-0 left-5 right-5 bg-black text-white py-4 text-sm font-bold tracking-[0.25em] opacity-0 group-hover:opacity-100 transition hover:bg-black hover:text-white"
              data-id="6"
              data-name="Dermalogica Intensive Moisture Balance"
              data-price="15.00"
              data-image="assets/images/f5d-pv-seite-wifi-puzzel_06c0mfdaupjslv7w.png">
              ADD TO CART
            </button>
          </div>

          <a href="product.html?id=6" class="block">
            <div class="bg-[#EFF5FA] pb-7 px-4">
              <p class="text-[10px] text-gray-400 uppercase mb-1">MAKEUP</p>
              <h3 class="text-sm font-medium truncate mb-2">
                Dermalogica Intensive Moisture Balance
              </h3>
              <p class="text-gray-400 text-sm mb-1">★★★★☆</p>
              <p class="text-lg font-bold">$15.00</p>
            </div>
          </a>
        </div>
      </div>

      <!-- Product 7 -->
      <div class="block">
        <div class="group bg-[#ffffff] border border-gray-100 text-center relative overflow-hidden">
          <span class="absolute top-5 left-5 bg-red-400 text-white text-xs font-bold px-3 py-1 z-10">-50%</span>

          <div class="relative h-[300px] flex items-center justify-center">
            <img src="assets/images/ipc-k1430k-stw-wifi-puzzel_tl67ndcwcvazb7ff.png" class="h-[210px] object-contain"
              alt="Yves Saint Laurent Luxurious Volume" />

            <div class="absolute top-5 right-5 flex flex-col gap-3 opacity-0 group-hover:opacity-100 transition">
              <button type="button"
                class="w-10 h-10 rounded-full bg-[#ead8c7] text-2xl hover:bg-black hover:text-white">
                ♡
              </button>
              <button type="button"
                class="w-10 h-10 rounded-full bg-[#ead8c7] text-2xl hover:bg-black hover:text-white">
                ⌕
              </button>
            </div>

            <button type="button"
              class="add-to-cart absolute bottom-0 left-5 right-5 bg-black text-white py-4 text-sm font-bold tracking-[0.25em] opacity-0 group-hover:opacity-100 transition hover:bg-black hover:text-white"
              data-id="7"
              data-name="Yves Saint Laurent Luxurious Volume"
              data-price="9.00"
              data-image="assets/images/ipc-k1430k-stw-wifi-puzzel_tl67ndcwcvazb7ff.png">
              ADD TO CART
            </button>
          </div>

          <a href="product.html?id=7" class="block">
            <div class="bg-[#EFF5FA] pb-7 px-4">
              <p class="text-[10px] text-gray-400 uppercase mb-1">MAKEUP</p>
              <h3 class="text-sm font-medium truncate mb-2">
                Yves Saint Laurent Luxurious Volume...
              </h3>
              <p class="text-gray-400 text-sm mb-1">★★★★☆</p>
              <p class="text-lg font-bold">
                <span class="text-gray-400 line-through text-sm font-normal">$18.00</span>
                $9.00
              </p>
            </div>
          </a>
        </div>
      </div>

      <!-- Product 8 -->
      <div class="block">
        <div class="group bg-[#ffffff] border border-gray-100 text-center relative overflow-hidden">
          <div class="relative h-[300px] flex items-center justify-center">
            <img src="assets/images/f5d-pv-seite-wifi-puzzel_06c0mfdaupjslv7w.png" class="h-[210px] object-contain"
              alt="Clarins Sos Primer Matifying" />

            <div class="absolute top-5 right-5 flex flex-col gap-3 opacity-0 group-hover:opacity-100 transition">
              <button type="button"
                class="w-10 h-10 rounded-full bg-[#ead8c7] text-2xl hover:bg-black hover:text-white">
                ♡
              </button>
              <button type="button"
                class="w-10 h-10 rounded-full bg-[#ead8c7] text-2xl hover:bg-black hover:text-white">
                ⌕
              </button>
            </div>

            <button type="button"
              class="add-to-cart absolute bottom-0 left-5 right-5 bg-black text-white py-4 text-sm font-bold tracking-[0.25em] opacity-0 group-hover:opacity-100 transition hover:bg-black hover:text-white"
              data-id="8"
              data-name="Clarins Sos Primer Matifying 30ml"
              data-price="27.00"
              data-image="assets/images/f5d-pv-seite-wifi-puzzel_06c0mfdaupjslv7w.png">
              ADD TO CART
            </button>
          </div>

          <a href="product.html?id=8" class="block">
            <div class="bg-[#EFF5FA] pb-7 px-4">
              <p class="text-[10px] text-gray-400 uppercase mb-1">MAKEUP</p>
              <h3 class="text-sm font-medium truncate mb-2">
                Clarins Sos Primer Matifying 30ml
              </h3>
              <p class="text-gray-400 text-sm mb-1">★★★★☆</p>
              <p class="text-lg font-bold">$27.00</p>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>